/* * {
    padding-top: 10px;
    padding-bottom: 10px;
} */


html, body { 
    overflow-x: hidden; 
}

.row .col {
    margin: 0px;
    padding: 0px;
}


.jumbotron {
    background: url("/img/photo-of-stars-974470p.png");
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    max-width: 100%;
    margin-bottom: 0;
    /* border-bottom: solid 2px black; */
}

.carousel {
    margin-bottom: 4rem;
    position: relative; 
    width: 100%;
}

.carousel-inner {
    background-color: #615252;
    width: 100%;
}

.carousel-item {
    height: 50rem;
}    

.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;    
    height: 32rem;
    object-fit: contain;    
}

.carousel-control-next-icon {
    color: #000;
}

#r1 {
    padding: 0px;
    margin: 0px;
}

#r2 {
    padding-top: -15px;
    margin-top: -15px;
}

#kitography {
    color: white;
}

#subtext {
    color: white;
}

#kito-img {
    height: auto;
    max-width: 100%;
}

#content1 {
    padding: 25px;
}

#content2 {
    padding: 25px;
}

#content3 {
    padding: 25px;
}

#content4 {
    padding: 25px; 
}


.col {
    /* border: solid 1px black; */
    justify-content: center;
    text-align: center;

}